<div class="container" style="padding:18%">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4 i18n="@@signup">Reactive Form</h4></div>
    <div class="panel-body"> 
    
<form [formGroup]="form">
<div class="form-group">
<label ><b>Id <span class="red">*</span></b></label>
<input type="number" placeholder="Enter Id"  class="form-control" formControlName="id"
[ngClass]="{ 'is-invalid':  submitted && f.id.errors }">
<div *ngIf=" submitted && f.id.errors" class="invalid-feedback">
  <div *ngIf=" submitted && f.id.errors.required" class="red">
      Id Required
  </div>
  <div *ngIf=" submitted && f.id.errors.pattern" class="red">
    Invalid Id
</div>
</div>
</div>

<div class="form-row">
<div class="form-group col-md-6" style="padding-left:0%">
  <label><b>FirstName</b></label>
  <input type="text" placeholder="FirstName" name="firstname" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid':  submitted && f.firstName.errors }">
  <div *ngIf=" submitted && f.firstName.errors" class="invalid-feedback">
    <div *ngIf=" submitted && f.firstName.errors.required" class="red">
        First Name Required
    </div>
    <div *ngIf=" submitted && f.firstName.errors.pattern" class="red">
      Invalid  First Name
  </div>
  </div>
</div>
<div class="form-group col-md-6" style="padding-right:0%"> 
<label ><b>LastName</b></label>
<input type="text" placeholder="LastName" name="lastname" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid':  submitted && f.lastName.errors }">
<div *ngIf=" submitted && f.lastName.errors" class="invalid-feedback">
  <div *ngIf=" submitted && f.lastName.errors.required" class="red">
      Last Name Required
  </div>
  <div *ngIf=" submitted && f.lastName.errors.pattern" class="red">
    Invalid  Last Name
</div>
</div>
</div>
</div>
<div class="formgroup">
<label><b>Email</b></label>
<input type="email" placeholder="Email"  class="form-control" formControlName="email" [ngClass]="{ 'is-invalid':  submitted && f.email.errors }">
<div *ngIf=" submitted && f.email.errors" class="invalid-feedback">
  <div *ngIf=" submitted && f.email.errors.required" class="red">
      Email Required
  </div>
  <div *ngIf=" submitted && f.email.errors.pattern" class="red">
    Invalid  Email 
</div>
</div>
</div>&nbsp;
<div class="formgroup">
<label><b>Address</b></label>
<input type="address" placeholder="Address"  class="form-control" formControlName="address" [ngClass]="{ 'is-invalid':  submitted && f.address.errors }">
<div *ngIf=" submitted && f.address.errors" class="invalid-feedback">
  <div *ngIf=" submitted && f.address.errors.required" class="red">
      Address Required
  </div>
  <div *ngIf=" submitted && f.address.errors.pattern" class="red">
    Invalid Address
</div>
</div>
</div><br/>
<div class="form-row">
<div class="form-group col-md-6" style="padding-left:0%">
<label><b>State</b></label>
<select id="state" class="form-control" formControlName="state" [ngClass]="{ 'is-invalid':  submitted && f.state.errors }">
  <option value="" disabled selected>Select</option>
  <option>Andhrapradesh</option>
  <option>Telangana</option>
</select>
<div *ngIf=" submitted && f.state.errors" class="invalid-feedback">
  <div *ngIf=" submitted && f.state.errors.required" class="red">
      State Required
  </div>
</div>
</div>
<div class="form-group col-md-6" style="padding-right:0%">
<label ><b>city</b></label>
<select id="city" class="form-control"  formControlName="city" [ngClass]="{ 'is-invalid':  submitted && f.city.errors }">
  <option value="" disabled selected>Select</option>
<option>Guntur</option>
<option>vijaywada</option>
  </select>
  <div *ngIf=" submitted && f.city.errors" class="invalid-feedback">
    <div *ngIf=" submitted && f.city.errors.required" class="red">
        City Required
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <button type="submit" class="btn btn-primary" (click)="addItem()">Add Skill</button>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <div [formGroup]="orderForm">
      <div formArrayName="items"
        *ngFor="let item of orderForm.get('items').controls; let i = index;">
        <div [formGroupName]="i">
          <label><b>Skill</b></label>
          <input type="text" placeholder="Enter Keywords"  class="form-control" formControlName="skill" >
          <div *ngIf=" submitted && item.controls.skill.errors" class="invalid-feedback">
            <div *ngIf=" submitted && item.controls.skill.errors.required" class="red">
                Skill Name Required
            </div>
            <div *ngIf=" submitted && item.controls.skill.errors.pattern" class="red">
              Invalid Skill
          </div>
        </div> <br>
          <button type="submit" class="btn btn-danger" (click)="removeGroup(i)">Remove Skill</button>
        </div>
      </div>
  </div>
  </div>
 
</div>

<!-- <div class="form-group">
<div class="form-check">
<input class="form-check-input" type="checkbox" id="gridCheck">
<label class="form-check-label" for="gridCheck">
Check me out
</label>
</div>
</div> -->
<div class="row">
<div class="col-md-12 text-right">
  <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
</div>
</div>

</form>
</div>
</div>
</div>